#main-left-menu{
	-fx-background-color: #002959;
	-fx-border-color:	#3A1052;
	-fx-border-color : transparent
}
#menu-menu{
	-fx-background-color: #002959;
	-fx-border-color:	#4B0082;
	-fx-border-color :  transparent
}


#menu-label{
	-fx-background-color: #00ABE1;
	-fx-border-color:	#808080;
}
#menu-alarm-button{
	-fx-background-color: #00ABE1;
	-fx-border-color:	#808080;
}
#menu-timer-button{
	-fx-background-color: #00ABE1;
	-fx-border-color:	#808080;
}
#menu-stopwatch-button{
	-fx-background-color: #00ABE1;
	-fx-border-color:	#808080;
}